a
	color$Verde
	text-decoration none
	 
	&:hover
		text-decoration underline
		
	img
		border 0
	
body
	color #666
	font-family $Raleway
	font-size 1.6rem
	font-weight $Light

header
	display none

img
	height auto
	max-width 100%
	
