::selection /* WebKit/Blink Browsers */
	background $Amarillo
	color #000

::-moz-selection /* Gecko Browsers */
	background $Amarillo
	color #000
	

::-webkit-file-upload-button
	cursor pointer

a
	color $Verde
	text-decoration none
	 
	&:hover
		text-decoration underline
		
	img
		border 0
	
body
	background-color #fff
	color #666
	font-family $Raleway
	font-size 1.6rem
	font-weight $Light


button
	border 0
	cursor pointer
	
	&:active, &:focus
		outline 0
		outline none
			

img
	height auto
	max-width 100%
	
input
	border 0
	
	&:active, &:focus
		outline 0
		outline none
		