//Image grid

.grid
	cf()
	center()
	
	&-item
		span(1/5)
		

	&-item
		overflow hidden
		height 20rem
	
	&-item-w2
		width 40%
		
	&-item-h2
		height 40rem
		
	&-item-h3
		height 10rem
		
	&-sizer
		width 20%		

	figure
		margin 0 auto
		position relative
		
		img
			max-width 103%
		
		
		