//-Layout Base
extends ../src/templates/base.pug

//-Etiqueta Title
block title

	title Astrolabio

//-Etiqueta Metadescription
block description
	meta(name="description", content="El Astrolabio de BRM" )


block content

	section.home
		
		img.logo(src="images/astrolabio.svg", alt="Astrolabio", title="Astrolabio")
			
	
		form#buscar
			input(type="text")
			button.btn.btn-search(type="button")
				img(src="images/lupa.svg")

		article.btn-helpers
			a.btn.btn-categoria(href="/categorias", role="button")  Categorías
			a.btn.btn-last(role="button")  Últimas Descargas



	
	

block Scripts
	script(src='https://apis.google.com/js/platform.js')

