//-Layout Base
extends ../src/templates/base.pug

//-Etiqueta Title
block title

	title Astrolabio

//-Etiqueta Metadescription
block description
	meta(name="description", content="El Astrolabio de BRM" )


block content
	//Header
	include ../src/templates/partials/header.pug
	///-Header

	section.grid
		div.grid-sizer


		//- script(id="resultados_tpl", type="text/template").

		//- 	<% _.each(resultados, function(resultado) { %> 
			
		//- 		<p>
		//- 			<%= resultado.id %>
		//- 		</p>
		//- 	<%}); %> 


		script(id="resultados_tpl", type="text/template").
			<p><%= resultados.id %></p>


		//-for(x = 0; x < 10; x++)

			figure.grid-item.grid-item-h2
				a(href="#")
					img(src="images/dog-2.jpg")

			figure.grid-item.grid-item-w2.grid-item-h2
				a(href="#")
					img(src="images/dog-1.jpg")

			figure.grid-item.grid-item-h2
				a(href="#")
					img(src="images/dog-2.jpg")

			figure.grid-item
				a(href="#")
					img(src="images/dog-1.jpg")

			figure.grid-item.grid-item-h2
				a(href="#")
					img(src="images/dog-2.jpg")

			figure.grid-item.grid-item-w2.grid-item-h2
				a(href="#")
					img(src="images/dog-1.jpg")

			figure.grid-item.grid-item-h2
				a(href="#")
					img(src="images/dog-2.jpg")

			figure.grid-item
				a(href="#")
					img(src="images/dog-1.jpg")

			figure.grid-item.grid-item-h3
				a(href="#")
					img(src="images/dog-2.jpg")

			figure.grid-item
				a(href="#")
					img(src="images/dog-1.jpg")

			figure.grid-item.grid-item-h3
				a(href="#")
					img(src="images/dog-1.jpg")

block Scripts
	script(src='js/models/imagen.js')
	script(src='js/collections/imagenes.js')
	script(src='js/views/resultados.js')
