//Footer

///-Footer

//Scripts
//-Estos son los scripts que van en todos los htmls del desarrollo
//- if env == 'dev'
//- 	script(src='/js/libs/underscore-min.js')
//- 	script(src='/js/libs/jquery.js')
//- 	script(src='/js/libs/velocity.min.js')
//- 	script(src='/js/libs/isotope.pkgd.min.js')
//- 	script(src='/js/libs/backbone-min.js')
//- 	script(src='/js/astrolabio.init.js')
//- 	script(src='/js/astrolabio.main.js')

//- else
//- 	script(src="/js/libs.astrolabio.min.js")
//- 	script(src='/js/astrolabio.main.js')