//Header

if titulo == "Image"
	header.header-image
		nav
			a(href="/"): img.logo(src="/images/astrolabio.svg", alt="Astrolabio", title="Astrolabio")
			
			div.buscador-header
				input(type="text", value="")

		div.container-switch
			div.switch
				label Local
					input(type="checkbox")
					span.lever
					| shutterstock

		div.container-counter
			h2 Descargas

			article
				p.diarias.
					Diarias <span class="num" >32</span>
				
				p.mes.
					Restantes <span class="num" >1000</span>

			article
				p Disponible hasta
				p.fecha 20/06/2016

else
	header
		nav
			a(href="/"): img.logo(src="/images/astrolabio.svg", alt="Astrolabio", title="Astrolabio")
			
			div.buscador-header
				input(type="text", value="dog")

		div.container-switch
			div.switch
				label Local
					input(type="checkbox")
					span.lever
					| shutterstock

		div.container-counter
			h2 Descargas

			article
				p.diarias.
					Diarias <span class="num" >32</span>
				
				p.mes.
					Restantes <span class="num" >1000</span>

			article
				p Disponible hasta
				p.fecha 20/06/2016

///-Header